@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #081b29;
    color: #fff;
}

 /*HEADER SECTION*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #012c49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
/* Header container */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #081b29;
    color: #fff;
}

.header .sticky{
    background: #081b29;
}
                    
 /*Light Mode*/
                    
 body.light-mode .header {
   background: #fff;
}
                    

/* LOGO */

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}


/*Light Mode*/
body.light-mode .logo {
    color: #081b29;
}



/* NAVBAR LINKS */

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.navbar a{
    font-size: 20px;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

/*Light Mode*/

body.light-mode .navbar a {
    color: #000;
}

body.light-mode .navbar a:hover,
body.light-mode .navbar a.active {
    color: #00abf0;
}


    /*TOGGLE ICON*/

#mode-toggle {
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
} 
#mode-toggle {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#mode-toggle i {
    font-size: 20px;
    transition: 0.3s;
}

#mode-toggle:hover {
    color: #00abf0;
}

/* Hide the menu-toggle button initially */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

  /* Light Mode*/

body.light-mode #mode-toggle i {
    color: #081b29;
}

body.light-mode #mode-toggle {
    color: #fff;
}

body.light-mode {
    background: #f0f0f0;
    color: #000;
}




             /* HOME SECTION */

.home{
    height: 106vh;
   justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
}

.home-content h1 span{
    color: var(--text-color);
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    animation: top 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}


.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2s;
}


                     /* BUTTONS */

.button a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height:50px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 10px;
    font-size: 19px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.button a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .2s;
}

.button a:hover::before{
    width: 100%;

}

.button a:hover{
    color: #081b29;
}



                    /* SOCIAL MEDIA ICONS */

.social {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}


.social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
} 

.social a i:hover{
    color: #081b29;
}

.social a:hover::before{
    width: 100%;
}

.home-img{
    width: 500px;
    height: 500px;
    
}

.circle{
    width: 380px;
    height: 380px;
    background:linear-gradient(#00abf0, #012c49);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .image{
    position: relative;
    width: 350px;
    height: 350px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 50px white;
    z-index: 1;
    overflow: hidden;
}

.image img{
    position: absolute;
    top: 0;
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}



/* ABOUT */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #012c49;
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: #00abf0;
}

.about-img{
    position: relative;
     width: 25rem;
    height: 25rem; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}

.about .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #081b29;
    border-bottom: .2rem solid #081b29;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: #0b2c44;
} 

/*Light Mode*/

body.light-mode .about {
    background: #024372;
}

body.light-mode .about-content p, 
body.light-mode .about h3,
body.light-mode .about h2{
    color: #fff;
}


                   /* EDUCATION SECTION */

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

 .education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
} 

 .education-row .education-column{
    flex: 1 1 4rem;
}   


.education-column .title{
    font-size: 2.5rem;
    margin: 1.5rem 2rem;
}

 .education-column .education-box{
    border-left: .2rem solid #00abf0;
    padding-left: 2rem;
}  

.education-box .education-content{
    position: relative;    
}  
 
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -3.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
} 

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden; 
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #09263b;
    z-index: -1;
    transition: .3s;
}

.education-content .content:hover::before{
    width: 100%;
}


.education-content .content .year{
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}

/*Light Mode*/

body.light-mode .education .content:hover::before {
    background: #d5ebfa;
    z-index: -1;
    transition: .3s;
}



                  /* SKILLS SECTION  */

.skills{
    min-height: auto;
    background: #012c49;
    padding-left: 400px;
    padding-right: 400px;
}

.skills .skills-box{
    margin-bottom: 80px;
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
} 

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #09263b;
    z-index: -1;
    transition: .3s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}


.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #00abf0;
}

.skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-content .progress:nth-child(3) .bar span{
    width: 90%;
}

.skills-content .progress:nth-child(4) .bar span{
    width: 85%;
}

.skills-content .progress:nth-child(5) .bar span{
    width: 80%;
}


/*Light Mode*/

body.light-mode .skills {
    background: #024372;
}

body.light-mode .skills-content p, 
body.light-mode .skills h3,
body.light-mode .skills h2{
    color: #fff;
}
               


                    /* CONTACT SECTION */

.contact{
    min-height: auto;
    padding-bottom: 7rem;
} 

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input, 
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder, 
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}


.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .button .btn{
    cursor: pointer;
}

   
   /* FOOTER SECTION */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .1rem 9%;
    background: #012c49;
}

.footer-text p{
    font-size: 1rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: #00abf0;
    border: .1rem solid #00abf0;
    border-radius: .5rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop{
    padding: .5rem;

}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #09263b;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}


.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 1.3rem;
    color: #081b29;
    transition: .5s;
}

.footer-iconTop a:hover i{
    color: #00abf0;
}

/*Light Mode*/

body.light-mode .footer {
    background: #024372;
}

body.light-mode .footer-text p {
    color: #d5ebfa;
}


/*Responsive*/

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .skills{
        padding: 0 200px;
    }
}


@media (max-width: 991px){
    .header{
       padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
   .footer{
        padding: 2rem 4%;
    }
}


@media (max-width: 768px){
    .header{
       background: var(--bg-color); 
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: #081b29;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}
